:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.deals-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  width: calc(80% - 1rem);
  float: left;
  min-height: 500px;
  max-height: 100vh;
  height: 100%;
  overflow-y: auto;
  min-width: 1506px;
  padding-right: 15px;
  box-sizing: border-box;
}

.deal-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.deal-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.filters-sidebar {
  width: 20%;
  float: right;
  padding: 1rem;
  height: 100vh;
  box-sizing: border-box;
  border-left: 2px solid #ddd;
  min-height: 500px;
  min-width: 346px;
  max-height: 100vh;
  overflow-y: auto;
}

.empty-state, .no-deals {
  text-align: center;
  padding: 2rem;
  color: #666;
  height: 100%;
  width: 80%;
  overflow-y: hidden;
}

@media (max-width: 1600px) {
  .deals-grid, .filters-sidebar {
    min-width: auto;
    width: 100%;
    float: none;
  }
}